<div class="row register" [style.height.px]="height">
  <div class="col-md-12 register-left">
    <img src="assets\icons\icon-512x512.png" alt="" />
    <h3>Welcome</h3>
    <p style="padding: 10%;">
      Jagwinder Singh Sandhu and Kuldeep Sandhu are the owners of JK SANDHU
      TRANSPORT PTY LTD. The company was established in May 2018.
      <br />
      <br />
      The motive is to “create opportunities for others” and meet new people in
      Australia well into the Australian culture. It is very important to
      mingle  with people from all different experiences and industries as a
      type of interaction. The people who are passionate about work and who love
      their work are only be the member of this team. We always strived for
      service excellence.
    </p>
  </div>
</div>
