.que_label {
  font-size: 1.5rem;
}

.custom-control-label,
input.form-control {
  font-size: 1.5rem;
}

.custom-control-label::before {
  left: -2rem;
  width: 1.5rem;
  height: 1.5rem;
}

.custom-control-label::after {
  left: -2rem;
  width: 1.5rem;
  height: 1.5rem;
}
